@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border:2px solid red;
    border:None;
    font-family:'Montserrat', sans-serif;
}

/* 
HEADER
 */
.header{
    background:#0d1117;
    display:flex;
    padding: 10px 150px;
    width:100%;
    justify-content: space-between;
}

.logo{
    animation: popIn 0.8s ease forwards;
    display: flex;
    gap:30px;
}

.logo img{
    width:60px;
    object-fit: cover;
}

.tagline{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tagline > *{
    color:white;
}

#prana{
    font-size: 1.5rem;
    font-weight: 600;
}
#tagline{
    font-weight: 400;
    font-size:1.2rem;
}

.links{
    color :white;
    display: flex;
    gap: 5px;
    padding:8px 20px;
}

.links > *{
    animation: popIn 0.8s ease forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius:10px;
}

.links >*:hover{
    background-color: #4F5B70;
    cursor: pointer;
}


/* #HERO */
.hero{
    background-color:#0d1117;
    padding:100px;
    display: flex;
    justify-content: center;
    gap:20px;
}

.hero .drone{
    max-height: 300px;
    padding: 10px 5px;
    animation: popIn 0.8s ease forwards;
}

@keyframes popIn{
    from {
        opacity: 0;
        filter:blur(10px);
        transform: scale(0.95);
    }
    to{
        opacity: 1;
        filter:blur(0px);
        transform:scale(1);
    }
}

.hero .hero_header{
    display: flex;
    flex-direction: column;
    padding: 10px 100px 10px 20px;
    justify-content:flex-start;
    gap: 10px;
    max-width: 600px;
}

.hero .hero_header >*{
    max-width: 500px;
}
.hero .heading{
    font-weight: 700;
    font-size: 3rem;
    color:white;
}
.hero .subheading{
    font-size: 1.6rem;
    color: white;
}

.hero .heading, .hero .subheading, .hero_header .signup{
    animation: popIn 0.5s ease forwards;
    opacity: 0;
}

.hero_header .signup{
    width: fit-content;
    border-radius: 40px;
    color:white;
    padding:20px;
    background-color: #4F5B70;
    margin-top: 10px;
}

.hero_header .signup:hover{
    background-color:#527fcc;
    cursor:pointer;
}

@keyframes popOut{
    from{opacity: 1;}
    to{opacity: 0.8; transform:scale(1.1)}
}

.button:hover{
    transform: scale(1.1) !important;
    opacity: 0.9 !important;
    transition: background-color 0.3s ease !important;
}


/* CARDS SECTION */

.features{
    padding: 60px 150px;
    background-color: #30303e;
    gap:10px;
    display: flex;
    flex-direction: column;
}
.features .features_header{
    animation: popIn 0.8s ease forwards;
    font-weight:900;
    font-size:2rem;
    display: flex;
    justify-content: center;
    -webkit-text-stroke:2px solid black;
    color:white
}

.cards{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.cards img{
    animation: popIn 0.8s ease forwards;
    transition: transform 0.3s ease !important;
    max-width: 200px;
    border-radius: 20px;
}
.cards >*:hover{
    transform: scale(1.1) !important;
}

.cards >*{
    animation: popIn 0.8s ease forwards;
    transition: transform 0.3s ease;
    color:white;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    font-size:1.2rem;
    gap:10px;
}

.quote{
    display: flex;
    flex-direction: column;
    background-color:rgb(95, 93, 106);
    padding:80px 200px;
    gap:10px;
}

.quote .text{
    font-size: 3rem;
        animation: popIn 0.8s ease forwards;
    color:white
}

.quote .author{
        animation: popIn 0.8s ease forwards;
    color:white;
    font-size: 1.5rem;
    font-weight:600;
    width: fit-content;
}
/* 
CALL TO ACTION */

.cta{
    background-color:#30303e;
    padding: 100px 200px 50px;
    display: flex;
    justify-content: center;
}

.cta_box{
    background-color: #0d1117;
    display: flex;
    justify-content: space-between;
    padding:80px 50px;
    gap:100px;
    border-radius:10px;
}
.cta_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:5px;
}

.cta .cta_text1{
        animation: popIn 0.8s ease forwards;
    color:white;
    font-weight:700;
    font-size : 1.4rem;
}

.cta .cta_text2{
        animation: popIn 0.8s ease forwards;
    color:white;
    font-weight:450;
    font-size:1.3rem;
}

.cta .cta_signup{
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    padding:5px 10px 5px;
    max-height:50px;
    margin-top:15px;
    font-weight: 600;
    background-color: #4F5B70;
    animation: popIn 0.8s ease forwards;
    /* hover color: #527fcc*/;
}

.cta_signup:hover{
    background-color: #527fcc;
}

.underline:hover{
    text-decoration: underline !important;
}
