@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border:2px solid red;
    border:None;
    font-family:'Montserrat', sans-serif;
}

/* 
HEADER
 */
.header{
    background:#0d1117;
    display:flex;
    padding: 10px 150px;
    width:100%;
    justify-content: space-between;
}

.logo{
    display: flex;
    gap:30px;
}

.logo img{
    width:60px;
    object-fit: cover;
}

.tagline{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tagline > *{
    color:white;
}

#prana{
    font-size: 1.5rem;
    font-weight: 600;
}
#tagline{
    font-weight: 400;
    font-size:1.2rem;
}

.links{
    color :white;
    display: flex;
    gap: 5px;
    padding:8px 20px;
}

.links > *{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius:10px;
}

.links >*:hover{
    background-color: #4F5B70;
    cursor: pointer;
}


/* #HERO */
.hero{
    background-color:#0d1117;
    padding:100px;
    display: flex;
    justify-content: center;
    gap:20px;
}

.hero .drone{
    max-height: 300px;
    padding: 10px 5px;
    animation: popIn 0.8s ease forwards;
}

@keyframes popIn{
    from {
        opacity: 0;
        filter:blur(10px);
        transform: scale(0.95);
    }
    to{
        opacity: 1;
        filter:blur(0px);
        transform:scale(1);
    }
}

.hero .hero_header{
    display: flex;
    flex-direction: column;
    padding: 10px 100px 10px 20px;
    justify-content:flex-start;
    gap: 10px;
    max-width: 600px;
}

.hero .hero_header >*{
    max-width: 500px;
}
.hero .heading{
    font-weight: 700;
    font-size: 3rem;
    color:white;
}
.hero .subheading{
    font-size: 1.6rem;
    color: white;
}

.hero .heading, .hero .subheading, .hero_header .signup{
    animation: popIn 0.5s ease forwards;
    opacity: 0;
}

.hero_header .signup{
    width: fit-content;
    border-radius: 40px;
    color:white;
    padding:20px;
    background-color: #4F5B70;
    margin-top: 10px;
}

.hero_header .signup:hover{
    background-color:#527fcc;
    cursor:pointer;
}

@keyframes popOut{
    from{opacity: 1;}
    to{opacity: 0.8; transform:scale(1.1)}
}

.button:hover{
    transform: scale(1.1) !important;
    opacity: 0.9 !important;
    transition: background-color 0.3s ease !important;
}